body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  background-color: #E6E6E6;
}

.core-toolbar {
  background-color: #3F5566;
  color: white;
  font-size: 1.3em;
  padding: 24px;
}

.glyph {
  width: 16px;
  height: 16px;
}

.glyph.bookmarked {
  /* background: transparent url(/images/ic_bookmark_border_48px.svg) no-repeat; */
  background: transparent url(/images/star.png) no-repeat;
  background-size: contain;
  background-position: center;
}

.glyph.download {
  /* background: transparent url(/images/ic_bookmark_border_48px.svg) no-repeat; */
  background: transparent url(/images/ic_file_download_48px.svg) no-repeat;
  background-size: contain;
  background-position: center;
}

.filters {
  max-width: 70vw;
  margin: auto;
  padding: 18px;
}

.stream {
  max-width: 70vw;
  margin: auto;
}

.stream-list,
.stream-day-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.stream-day-list {
  margin: 0 auto 2.6em;
  background-color: #fff;
  padding: 18px 0;
  border-radius: 4px;
}

.stream-day-list li {
  line-height: 40px;
  padding: 0;
  align-items: center;
  padding: 0 18px;
}

.stream-day-list li > span {
  padding: 0 12px;
}

.stream-day-list li > span:first-child {
  padding-left: 0;
}

.stream-day-list li > span:last-child {
  padding-right: 0;
}

.favicon-img {
  width: 16px;
  height: 16px;
  position: relative;
  top: 4px;
}

.stream-date-header {
  margin: 8px auto;
}

.hour-marker {
  color: #888;
  position: relative;
}

.hour-marker span:before,
.hour-marker span:after {
  border-top: 1px solid #d7d7d7;
  display: block;
  height: 1px;
  content: "";
  width: 60%;
  position: absolute;
  left: 0;
  top: 1.3em;
  margin-left: 60px;
}
.hour-marker span:after {
   right: 0;
   left: auto;
}

.muted-text {
  color: #969696;
}

.filter-downloads .urlVisited,
.filter-downloads .bookmarkAdded {
  display: none;
}

.filter-page_visits .download,
.filter-page_visits .bookmarkAdded {
  display: none;
}

.filter-bookmarks .download,
.filter-bookmarks .urlVisited {
  display: none;
}


.event {
  display: flex;
  cursor: pointer;
}

.event a {
  color: #111;
  text-decoration: none;
}

.event a:hover {
  text-decoration: underline;
}

.event .timestamp {
  width: 100px;
  font-size: .8em;
}

.event .host {
  font-size: .8em;
  margin-left: 12px;
}

.event .title {
  font-size: .9em;
}

.event-selected {
  background-color: #ECF2FD !important;
}

.host-group li:not(:first-child) {
  height: 0;
  overflow: hidden;
}

.host-group li:not(:first-child) .favicon-img {
  visibility: hidden;
}

.host-group.expanded li:not(:first-child) {
  height: auto;
  overflow: visible;
  background-color: rgba(255,255,255,.5);
}
.host-group.expanded li:not(:first-child) .count {
  display: none;
}

.length-1 {
  display: none;
}

.download {
  margin-left: 40px;
}

.download input {
  visibility: hidden;
}

.download .favicon {
  display: none;
}

.download .title {
  padding-left: 0;
}
